@import "bootstrap";

body {
background-color: #F5F5F1;
color: #333333;
font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
background-color: #D8D8D8;
}

.navbar-default .navbar-brand {
    color: #F02475;
	font-family: 'French Script MT' cursive;
	font-weight: 700;
	font-size: 55px;
}

.navbar-default .navbar-nav > li > a {
	font-family: "Bella Donna", cursive;
	font-size: 25px;
	font-weight: bold;
	color: #FAFAFA
}






























